[submodule "sites/all/modules/contrib/l10n_update"]
	path = sites/all/modules/contrib/l10n_update
	url = http://git.drupal.org/project/l10n_update.git
[submodule "sites/all/modules/contrib/admin_menu"]
	path = sites/all/modules/contrib/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/contrib/token"]
	path = sites/all/modules/contrib/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/contrib/pathauto"]
	path = sites/all/modules/contrib/pathauto
	url = http://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/contrib/subpathauto"]
	path = sites/all/modules/contrib/subpathauto
	url = http://git.drupal.org/project/subpathauto.git
[submodule "sites/all/modules/contrib/transliteration"]
	path = sites/all/modules/contrib/transliteration
	url = http://git.drupal.org/project/transliteration.git
[submodule "sites/all/modules/contrib/wysiwyg"]
	path = sites/all/modules/contrib/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/contrib/imce"]
	path = sites/all/modules/contrib/imce
	url = http://git.drupal.org/project/imce.git
[submodule "sites/all/modules/contrib/imce_wysiwyg"]
	path = sites/all/modules/contrib/imce_wysiwyg
	url = http://git.drupal.org/project/imce_wysiwyg.git
[submodule "sites/all/modules/contrib/elysia_cron"]
	path = sites/all/modules/contrib/elysia_cron
	url = http://git.drupal.org/project/elysia_cron.git
[submodule "sites/all/modules/contrib/metatag"]
	path = sites/all/modules/contrib/metatag
	url = http://git.drupal.org/project/metatag.git
[submodule "sites/all/modules/contrib/ctools"]
	path = sites/all/modules/contrib/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/contrib/panels"]
	path = sites/all/modules/contrib/panels
	url = http://git.drupal.org/project/panels.git
[submodule "sites/all/modules/contrib/views"]
	path = sites/all/modules/contrib/views
	url = http://git.drupal.org/project/views.git
[submodule "sites/all/modules/contrib/jcarousel"]
	path = sites/all/modules/contrib/jcarousel
	url = http://git.drupal.org/project/jcarousel.git
[submodule "sites/all/modules/contrib/libraries"]
	path = sites/all/modules/contrib/libraries
	url = http://git.drupal.org/project/libraries.git
